.footer {
    background-color: #7f5a20;
    color: white;
    padding: 50px;
    font-family: Arial, sans-serif;
    margin-top: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.footer-left {
    width: 25%;
}

.footer-logo {
    width: 140px;
    margin-bottom: 10px;
}

.footer-column {
    width: 20%;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 12px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 6px 0;
}

.social i {
    font-size: 22px;
    margin-right: 10px;
    cursor: pointer;
}
